<div *ngIf="partidosFromFiltro">
    <div class="container text-center">
        <div class="row justify-content-between">
            <div class="col-4 border border-info border-1 rounded-3">
                <h1>{{partidosFromFiltro().ganadosEquipo1}}</h1>
                <p>Ganados {{partidosFromFiltro().equipo1}}</p>              
            </div>
            <div class="col-4 border border-info border-1 rounded-3">
                <h1>{{partidosFromFiltro().empatados}}</h1>
                <p >Empatados</p>
            </div>
            <div class="col-4 border border-info border-1 rounded-3">
                <h1>{{partidosFromFiltro().ganadosEquipo2}}</h1>
                <p>Ganados {{partidosFromFiltro().equipo2}}</p>
            </div>
          </div>    
    </div>
    <div class="lista-partidos">
      <div *ngFor="let partido of partidosFromFiltro()?.partidos">
        <div *ngIf="partido.esTNR" class="card text-bg-info ">
          <div routerLink="/Torneos/{{partido.idTorneo}}">
            <p class="m-0 mx-1 d-flex justify-content-start align-items-center fs-6">Torneo: <u>{{partido.nombreTorneo}}</u></p>
          </div>
          <div class="card-body d-flex justify-content-center align-items-center"> 
              <div class="col-5">
                <p class="m-0 text-end fs-5">{{partido.equipoLocal}}</p>
              </div>
                <div class="col-2"> <!-- bg-warning-subtle -->
                <p class="m-0 text-center fw-bold fs-5">{{partido.golesLocal}} - {{partido.golesVisitante}}</p>
              </div>
              <div class="col-5">
                <p class="m-0 text-start fs-5">{{partido.equipoVisitante}}</p>
              </div>
          </div>
        </div>
      </div>
    </div>
    
</div>

