<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">MzTNR Stats</a>
        <!-- INICIO responsive (quitar si rompe algo) -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
        <!-- FIN responsive -->
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/Torneos">Torneos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Equipos">Equipos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Historial">Historiales</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link disabled" routerLink="/Admin" aria-disabled="true">Admin</a>
                </li> -->
            </ul>
            <button class="btn btn-outline-success" type="submit">Ingreso Admin</button>
            <!-- <form #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
                <input 
                    name="username" 
                    [(ngModel)]="model.username" 
                    class="form-control me-2" 
                    type="text" 
                    placeholder="Usuario">
                <input 
                    name="password" 
                    [(ngModel)]="model.password" 
                    class="form-control me-2" 
                    type="password" 
                    placeholder="Pass">
                <button class="btn btn-outline-success" type="submit">Ingresar</button>
            </form> -->
        </div> <!-- div del responsive (quitar si se quita lo de mas arriba) -->
    </div>
</nav>