<div *ngIf="torneos">
    <div *ngFor="let temporada of torneos.torneosPorTemporada">
        <h2> {{temporada.temporadaMZ}}</h2>
        <div *ngFor="let torneo of temporada.torneos">
            {{torneo.nombre}}
        </div>
    </div>
</div>
    <!-- <div *ngFor="let temporada of Object.keys(torneosAgrupados)">
        <h2>{{ temporada }}</h2>
        <ul>
        <li *ngFor="let torneo of torneosAgrupados[temporada]">
            {{ torneo.nombre }}
        </li>
        </ul>
    </div> -->

  
