<div *ngIf="torneos">
    <div class="accordion" id="accordionTorneos">
        <div *ngFor="let temporada of torneos.torneosPorTemporada; let i = index" class="accordion-item">
            <h2 class="accordion-header" id="heading{{i}}">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + i" aria-expanded="true" [attr.aria-controls]="'collapse' + i">
                Temporada {{ temporada.temporadaMZ }}
            </button>
            </h2>
            <div [id]="'collapse' + i" class="accordion-collapse show"  data-bs-parent="#accordionTorneos">
                <div class="accordion-body">
                    <ul class="list-group">
                        <li *ngFor="let torneo of temporada.torneos" class="list-group-item">
                            <div *ngIf="torneo.enCurso" style="display: flex; align-items: center;"> 
                                <a routerLink="/Torneos/{{torneo.idMz}}">{{ torneo.nombre }} </a>
                                <p class="en-curso">(En curso)</p> 
                            </div> 
                            <div routerLink="/Torneos/{{torneo.idMz}}" *ngIf="!torneo.enCurso"> 
                                <a routerLink="/Torneos/{{torneo.idMz}}">{{ torneo.nombre }} </a>
                            </div> 
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

      
    <!-- <div class="accordion" id="accordionTemporada">
        <div *ngFor="let temporada of torneos.torneosPorTemporada; let i=index">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Temporada {{temporada.temporadaMZ}}
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse" data-bs-parent="#accordionTemporada">
                    <div class="accordion-body">
                        <div *ngFor="let torneo of temporada.torneos">
                            {{torneo.nombre}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>