<div class="container mt-4">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top img-thumbnail" src="{{equipo.urlEscudo}}" alt="{{equipo.nombreEquipo}}">
          <div class="text-center">
            <h3>{{equipo.nombreEquipo}}</h3>
            </div>
            <div class="text-center">
                ({{equipo.usuarioMZ}})
            </div>
          <!-- Ver si agregamos alguna info mas -->
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <!--<a class="btn btn-primary w-100" [routerLink]="['/equipo/edit/', equipo.idMz]" > Editar </a>-->
            <!--<li class="list-inline-item"><button class="btn btn-primary" [routerLink]="['/players/', player.id]" ><i class="fa fa-user"></i></button></li>-->
            <button class= "btn btn-primary w-100">Editar</button>
            <!-- <button class= "btn btn-success w-100">Mensaje</button> -->
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="tab-panel">
          <tabset class="player-tabset">
            <tab heading="Equipo">
              <h4>Usuario:</h4>
              <p>{{equipo.usuarioMZ}}</p>
              <h4>Nombre:</h4>
              <p>{{equipo.apellido}} {{equipo.nombre}}</p>
              <h4>Ciudad:</h4>
              <p>{{equipo.ciudad}} - {{equipo.provincia}}</p>
            </tab>
            <tab heading="Participaciones en TNR">
              <h4>Lista de torneos en que participo</h4>
              
            </tab>
            <tab heading="Partidos Jugados">
                <p>Lista de partidos jugados</p>
            </tab>
            <tab heading="Próximos Partidos">
              <p>Lista de futuros partidos</p>
            </tab>
          </tabset> 
        </div>
      </div>
    </div>
  </div>