h1 {
    text-align: center;
    padding-top: 15px;
    font-size: 25px;
}

.calendario {
    height: max-content;
}

.contenedor-campo {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.form-control {
    width: 300px;
}

.form-select {
    width: 300px;
}

.formulario-equipo {
    width: 500px;
}

.input-fecha {
    display: flex;
    width: 300px;
}