<form #filters="ngForm" (ngSubmit)="loadHistorico()" autocomplete="off">
    <div class="text-center">
        <div class="btn-group">
        <div class="mb-3">
            <input type="text"
                class="form-control"
                name="filtroEquipo1"
                placeholder="Equipo 1" >
        </div>
        <div class="mb-3">
            <input type="text"
                class="form-control"
                name="filtroEquipo2"
                placeholder="Equipo 2" >
        </div>
        <div class="text-center">
            <button class="btn btn-success me-2" type="submit">Buscar</button>
        </div>
        </div>
    </div>
</form>

<app-historico-card></app-historico-card>

