.form-control {
    width: 300px;
}

.form-select {
    width: 300px;
}

.contenedor-campo {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.formulario-equipo {
    width: 500px;
}

.input-equipo {
    
}

.label-equipo {

}

.seleccion-formularios h1 {
    text-align: center;
    padding-top: 15px;
    font-size: 25px;
}

