<div *ngIf="torneo">
    <div style="text-align:center">
        <img class="card-img-top" src="{{torneo.torneo?.urlImagen}}">
    </div>
    <div *ngIf="torneo.torneo?.tipo == 1">
        <!-- Es Liga Amistosa -->
        <div class="container mt-3 border border-primary">
          <table class="table">
            <thead>
              <tr>
                <th>Posición</th>
                <th>Equipo</th>
                <th>Partidos Jugados</th>
                <th>Partidos Ganados</th>
                <th>Partidos Empatados</th>
                <th>Partidos Perdidos</th>
                <th>Goles a Favor</th>
                <th>Goles en Contra</th>
                <th>Diferencia de Gol</th>
                <th>Puntos</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let equipo of torneo.torneo?.datosLA">
                <td>{{ equipo.posicion }}</td>
                <td routerLink="/Equipos/{{equipo.equipoId}}"><u>({{equipo.equipoId}}) {{ equipo.equipoNombre }}</u></td> <!-- Aquí deberías mostrar el nombre del equipo -->
                <td>{{ equipo.partidosJugados }}</td>
                <td>{{ equipo.partidosGanados }}</td>
                <td>{{ equipo.partidosEmpatados }}</td>
                <td>{{ equipo.partidosPerdidos }}</td>
                <td>{{ equipo.golesAFavor }}</td>
                <td>{{ equipo.golesEnContra }}</td>
                <td>{{ equipo.diferenciaGol }}</td>
                <td>{{ equipo.puntos }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        
    </div>
    <div *ngIf="torneo.torneo?.tipo == 2">
        <!-- Es Copa -->
        <p></p>
        <div style="text-align:center"> 
            <h3>Detalle de COPA en desarrollo</h3>
        </div>
        <div *ngFor="let grupo of torneo.torneo.datosCopa.grupos">
          <h1>Grupo: "{{ grupo.grupo }}"</h1>
          <div class="container mt-3 border border-primary">
            <table class="table">
              <thead>
                <tr>
                  <th>Posición</th>
                  <th>Equipo</th>
                  <th>Partidos Jugados</th>
                  <th>Partidos Ganados</th>
                  <th>Partidos Empatados</th>
                  <th>Partidos Perdidos</th>
                  <th>Goles a Favor</th>
                  <th>Goles en Contra</th>
                  <th>Diferencia de Gol</th>
                  <th>Puntos</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let equipo of grupo.equiposGrupo">
                  <td>{{ equipo.posicion }}</td>
                  <td routerLink="/Equipos/{{equipo.equipoId}}"><u>({{equipo.equipoId}}) {{ equipo.nombreEquipo }}</u></td> <!-- Aquí deberías mostrar el nombre del equipo -->
                  <td>{{ equipo.partidosJugados }}</td>
                  <td>{{ equipo.partidosGanados }}</td>
                  <td>{{ equipo.partidosEmpatados }}</td>
                  <td>{{ equipo.partidosPerdidos }}</td>
                  <td>{{ equipo.golesAFavor }}</td>
                  <td>{{ equipo.golesEnContra }}</td>
                  <td>{{ equipo.diferenciaGol }}</td>
                  <td>{{ equipo.puntos }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngFor="let partido of grupo.partidosDelGrupo">
            <h3>{{partido.equipoLocal}} {{partido.golesLocal}} - {{partido.golesVisitante}} {{partido.equipoVisitante}}</h3>
          </div>  
        </div>
        {{ torneo.torneo.datosCopa.playoff }}
    </div>
</div>